# Project 2 - Part A

In [0]:
print(1434)
print("Joe was here")

1434
Joe was here

# If you can read this, create a new cell in here so we can test if it's working.

In [1]:
import pandas as pd
import io
import numpy as np
import os
from sklearn.model_selection import train_test_split

#Get file stored in my github
url = 'https://raw.githubusercontent.com/josephdonati/CSC-177---Project-2/master/Data/gun_violence_lite.csv'
data = pd.read_csv(url)
print("Data recieved!")

print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
data.head()

Data recieved!
Number of instances = 239677
Number of attributes = 7

         date           state  ... n_guns_involved  state_senate_district
0  2013-01-01    Pennsylvania  ...             NaN                    NaN
1  2013-01-01      California  ...             NaN                   35.0
2  2013-01-01            Ohio  ...             2.0                   13.0
3  2013-01-05        Colorado  ...             NaN                   28.0
4  2013-01-07  North Carolina  ...             2.0                   27.0

[5 rows x 7 columns]