# Project 2 - Part B

In [1]:
import pandas as pd
import io
import numpy as np
import os
from sklearn.model_selection import train_test_split

#Get file stored in my github
url = 'https://raw.githubusercontent.com/josephdonati/CSC-177---Project-2/master/Data/Admission_Predict_Ver1.1_small_data_set_for_Linear_Regression.csv'
data = pd.read_csv(url)
print("Data recieved!")

print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
data.head()

Data recieved!
Number of instances = 500
Number of attributes = 9

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]